<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="f15.delta.com.fdoodle" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="f15.delta.com.fdoodle.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="f15.delta.com.fdoodle.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/festember_logo_old"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider507440182763591"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen"! -->
        </activity>
        <activity
            android:name=".Painter"
            android:configChanges="locale|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PainterPreferences"
            android:configChanges="locale"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hscreen"
            android:label="@string/title_activity_hscreen" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".RaffleActivity"
            android:label="@string/title_activity_raffle" >
        </activity>
        <activity
            android:name=".UpcomingActivity"
            android:label="@string/title_activity_upcoming"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name=".PopupActivity"
            android:label="@string/title_activity_popup"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar.MinWidth" >
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".QRCodeLogin"
            android:label="@string/title_activity_qrcode_login" >
        </activity>
        <activity
            android:name=".QRCodeWelcomePage"
            android:label="@string/title_activity_qrcode_welcome_page" >
        </activity>
        <activity
            android:name=".QRSplashScreen"
            android:label="@string/title_activity_qrsplash_screen" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".ClusterPage"
            android:label="@string/title_activity_cluster_page" >
        </activity>
        <activity
            android:name=".Single_Activity"
            android:label="@string/title_activity_single_"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Notify"
            android:label="Notifications" >
        </activity>

        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.shreenivas.gcmtest" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMMessagerHandler" />

    </application>

</manifest>
